$def with( msg , ok=False)
$var title: Upload Structures


            <h1 style="font-size:75px; width: 100%; margin: 0 auto; border-bottom: 1px solid gray;">Upload Structures</h1>
            <br />
        $if ok:
            <p>
            The structures were successfully uploaded. An e-mail will arrive to your account, letting you know when the calculations
            get finished.<br />
            <a href="/upload">Click here if you want upload more structures</a><br /><br />
            </p>
        $else:
            <p>
            This is a brief about VisualDEP use.<br />
            Please README =).
            </p><br />
            <div id="upload" style="width: 300px; margin-left: 10%;">
            $if msg:
                <h4 style="color:red;">$msg</h4>
            <form method="POST" enctype="multipart/form-data" action="/upload">
                <p><strong>Static PDB file: </strong><br />
                    <input type="file" id="pdb1" name="pdb1"/><br /><br />
                <strong>Mobile PDB file: </strong><br />
                    <input type="file" id="pdb2" name="pdb2"/><br /><br />
                <strong>E-Mail: </strong><br />
                    <input type="text" id="email" name="email"/><br /><br />
                <button type="submit" id="upload" name="upload">Upload &amp; Calculate</button>
                </p>
            </form>
            <div id="myimageDiv" style="display:none"> 
                <br />This may take several minutes, so go to get a cup of coffee =)<br /> 
                <img id="loading" src="/static/style/img/loading.gif" alt="Loading..." width="30%" height="30%" /> 
            </div>
            </div>
